# ========================
# 1. API Keys
# ========================
google_key.json
*.env
.env

# ========================
# 2. Python Cache Files
# ========================
__pycache__/
*.pyc
*.pyo

# ========================
# 3. Virtual Environments
# ========================
venv/
.venv/
env/

# ========================
# 4. Junk Files
# ========================
.DS_Store